$color-primary-pink: #f4e4f0;
$color-primary-dark-pink: #ad7fc1;
$color-secondary: linear-gradient(to bottom right, #f4e4f0 30%, #f2b8d9);
$color-btn-main: linear-gradient(to bottom left, #bb84e6, #da7db3);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(to bottom, $color-primary-pink 50%, #202020 50%);
  font-family: 'Spartan', Times, serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  text-decoration: none;
}

.container {
  overflow-x: hidden;
  // min-width: 18rem;
}

.content {
  // height: 40rem; //test
}
