$color-primary-pink: #f4e4f0;
$color-primary-dark-pink: #ad7fc1;
$color-secondary: linear-gradient(to bottom right, #f6dbef 30%, #f2b8d9);
$color-btn-main: linear-gradient(to bottom left, #bb84e6, #da7db3);

$img-nails: '../img/vgks-nails.png';
$img-hair: '../img/vgks-hair.png';
$img-facial: '../img/vgks-facial.png';
$img-photography: '../img/vgks-photography.jpg';
$img-courses: '../img/vgks-courses.jpg';
$img-massage: '../img/vgks-massage.jpg';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

body {
  background: $color-primary-pink;
  font-family: 'Spartan', Times, serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  text-decoration: none;
}

.container {
  overflow-x: hidden;
  // min-width: 18rem;
}

.content {
  // height: 40rem; //test
}
