.footer {
  position: relative;
  background-color: #202020;
  padding: 5rem;
  min-width: 20rem;

  @include respond(phone) {
    padding: 4rem 2rem;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0.7rem;
    width: 100%;
    background: linear-gradient(70deg, #ddbcec, #f1b8c9);
    z-index: 2600;
  }

  // TOP STUFF

  &__media {
    position: relative;
    max-width: 130rem;
    min-width: 15rem;
    margin: 0 auto;
  }

  &__button {
    margin: 0;
  }

  &__form {
    // max-width: 28rem;
    font-size: 0;
    width: 100%;
    display: flex;
    align-self: flex-start;
    border: 2px solid #fff;
    -webkit-appearance: none;
    border-radius: 0;
  }

  &__content {
    height: max-content;
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    @include respond(footer1030) {
      flex-direction: column;
      gap: 0;
    }
  }

  &__info {
    text-decoration: none;
    color: white;
    height: 2.5rem;

    &-mail {
      text-decoration: none;
      color: white;
      height: min-content;
      margin-left: 0.6rem;
      &:hover {
        border-bottom: 2px solid #e7a3ca;
      }
    }
  }

  &-work-hours {
    .footer__item__content {
      padding-left: 0.5rem;
    }
  }

  &__newsletter__email {
    // width: 75%;
    width: 100%;
    padding: 0.5rem;
    border: none;
    font-size: 1.2rem;
    background-color: #505050;
    color: #202020;
    border: 2px solid #505050;

    @include respond(footer1030) {
      // width: unset;
    }
    @include respond(little-phone) {
      width: 100%;
    }
  }

  &__item:nth-of-type(1) > &__item__content {
    height: 21rem;
    @include respond(phone) {
      height: 20rem;
    }
  }
  &__item:nth-of-type(2) > &__item__content {
    height: 17rem;
  }
  &__item:nth-of-type(3) > &__item__content {
    height: 10rem;
  }
  &__item:nth-of-type(4) > &__item__content {
    height: 13rem;
  }
  &__item:nth-of-type(5) > &__item__content {
    height: 20rem;
  }

  &__item {
    width: 25rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
    overflow: hidden;

    &:nth-of-type(2) {
      @include respond(footer1030) {
        width: max-content;
      }
    }
    &:nth-of-type(3) {
      //Darbo laikas
      display: none;

      @include respond(footer1030) {
        display: flex;
      }
    }
    @include respond(little-phone) {
      width: 22rem;
    }

    &__sub-item-info {
      display: flex;
      gap: 1rem;
      font-size: 1.6rem;
      color: white;

      &-mail {
        height: 2.5rem;
      }

      @include respond(tab-land) {
        font-size: 1.5rem;
      }
    }

    &__checkbox {
      display: none;
    }

    &__checkbox:checked + &__header &__header--collapse {
      transform: rotate(-90deg);
    }

    &__checkbox:checked ~ &__content {
      transform: translateY(-105%);
      opacity: 0;
      height: 0;
    }

    &__header {
      background-color: #202020;
      display: flex;
      align-items: center;
      gap: 1rem;
      z-index: 2000;

      &__button {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &--collapse {
        opacity: 0.7;
        display: none;
        width: 1.2rem;
        transform: rotate(0deg);
        height: auto;
        margin-bottom: 0.1rem;
        transition: all 0.2s ease-in-out;
        margin-bottom: 0.4rem;

        @include respond(footer1030) {
          display: block;
        }
      }
    }

    &__content {
      display: flex;
      flex-flow: column;
      gap: 1rem;
      transition: all 0.3s ease-in-out;
    }
  }

  //ADDRESS

  //BOTTOM STUFF

  &__icon {
    height: 1.8rem;
    width: 1.8rem;
    fill: $color-primary-dark-pink;
  }

  //   &__logobox {
  //     background-color: yellow;
  //     position: relative;
  //   }

  &__logo-large {
    display: none;

    @include respond(footer1030) {
      display: block;
      position: absolute;
      height: 23rem;
      top: -5rem;
      right: -5rem;
      z-index: 2500;
    }
    @include respond(phone) {
      height: 18rem;
      top: -4rem;
      right: -2rem;
    }
    @include respond(mid-phone) {
      height: 13.5rem;
    }
    @include respond(small-phone) {
      display: none;
    }
  }

  &__logo {
    display: block;

    margin: 0 auto;
    z-index: 2601;

    @include respond(footer1030) {
      display: none;
    }

    @include respond(small-phone) {
      display: block;
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    @include respond(little-phone) {
      display: block;
      margin: 0.5rem auto;
      position: relative;
      top: unset;
      right: unset;
      height: 2.5rem;
    }
  }
}

.payment-icons {
  opacity: 60%;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  &__visa {
    height: 1.2rem;
  }

  &__mastercard {
    height: 2.5rem;
  }
}

.privacy-policy {
}

.copyright {
  opacity: 0.5;
  display: flex;
  padding: 0 4.5rem;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1.5rem;
  font-size: 1.4rem;
  color: #fff;
  gap: 1rem;

  @include respond(mid-phone) {
    padding: 0;
  }
  @include respond(little-phone) {
    margin-top: 0;
  }

  &__info,
  &__address {
    width: max-content;
  }

  &__address {
    @include respond(footer415) {
      width: 100%;
      text-align: center;
    }
  }

  &__info {
    @include respond(footer415) {
      display: flex;
      min-width: 200px;
      flex-direction: column;
      font-size: 1.3rem;
      align-items: center;
    }
  }

  a {
    color: #fff;
    text-decoration: underline;
  }

  &__divider {
    font-family: Arial, sans-serif;
    margin: 0 1rem;

    @include respond(footer415) {
      display: none;
    }
  }
}

.vip-card {
  width: 100%;
}

.work-days {
  &__footer {
    display: flex;
    flex-flow: column;
  }
  &__days {
    width: 4rem;
  }

  &__workweek {
    display: flex;
  }

  &__hours {
    &-open,
    &-closed {
      margin-top: 0.5rem;
    }
  }
}

//CHECKBOX
