.gallery {
  &__item {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: relative;
    flex-wrap: wrap;

    justify-content: left;
    gap: 0.5rem;

    @include respond(phone) {
      //   transform: scale(0.9);
      //   transform-origin: top;
    }
  }

  &__img {
    flex-basis: calc(33% - 0.3rem);
    overflow: hidden;
    text-align: center;
    &:hover {
      img {
        transform: scale(1.2);
        z-index: 3000;
        filter: grayscale(0);
      }
    }

    img {
      width: 100%;
      //   aspect-ratio: 1 / 1 !important;
      height: 100%;
      object-fit: cover;
      filter: grayscale(0.15);
      transition: all 0.4s ease-in-out;
    }

    @include respond(phone) {
      flex-basis: calc(50% - 0.3rem);
    }
  }
}

.flex-1 {
  @include respond(phone) {
    flex: 1;
  }
}

// #gallery-massage {
//   .gallery__item {
//     flex-basis: calc(50% - 0.3rem);
//   }
// }

.img-loading {
  @include relatCenter;
  margin: 2rem auto;
  top: 50%;
  transform: translateY(-50%);
  width: 5rem !important;
  height: 5rem !important;
}
