.gift-certificate {
  position: relative;
  min-width: $vgks-min-width;
  background-color: #fff;
  box-shadow: rgb(0 0 0 / 20%) 0px 4rem 8rem;

  &__content {
    display: flex;
    max-width: 250rem;
    margin: 0 auto;
    position: relative;
    @include respond(phone) {
      flex-flow: column;
      background: linear-gradient(0deg, #fff 0%, #ead4f0 100%);
    }
  }

  &__container {
    flex: 1;
    margin: 3rem;
    @include respond(tab-land) {
      margin: 2rem;
    }
    @include respond(phone) {
      margin: 0 2rem;
    }
  }

  &__img-container {
    background: linear-gradient(0deg, #e2c9ff 0%, #ead4f0 100%);
    @include respond(phone) {
      background: none;
      position: relative;
      margin: 0;
    }
  }

  &__poster {
    width: 100%;
    @include respond(phone) {
      display: none;
    }
  }

  &__img {
    width: 100%;
    top: 50%;
    left: 8rem;
    transform: translateY(-50%);
    position: relative;
    @include respond(tab-land) {
      left: 6rem;
    }
    @include respond(tab-port) {
      left: 4rem;
    }
    @include respond(phone) {
      display: none;
    }
  }
  &__img-2 {
    width: 100%;
    display: none;
    @include respond(phone) {
      display: block;
      position: relative;
      top: -1rem;
    }
  }

  &__text-container {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    .heading-1 {
      padding: 1rem 0 2rem;
      font-size: 4rem;
      font-family: 'Times';
      letter-spacing: 1.5rem;
      font-weight: 400;
      opacity: 1;
      @include respond(tab-land) {
        letter-spacing: 1rem;
        font-size: 3.5rem;
      }
      @include respond(tab-port) {
        letter-spacing: 0.5rem;
        font-size: 3rem;
      }
      @include respond(large-phone) {
        letter-spacing: 0;
      }
      @include respond(phone) {
        font-family: $vgks-font-headings;
        font-size: 5rem;
        opacity: 0.7;
      }
      @include respond(small-phone) {
        font-size: 4.5rem;
      }
      @include respond(litle-phone) {
        font-size: 4rem;
      }
    }
    @include respond(phone) {
      padding: 2rem 0 3.5rem;
    }
  }
  &__text {
    width: 75%;
    padding-bottom: 3rem;
    margin: 0 auto;
    text-align: center;
    @include respond(phone) {
      width: 95%;
    }
    @include respond(tab-land) {
      width: 95%;
    }
    @include respond(large-phone) {
      width: 95%;
      text-align: justify;
    }
    @include respond(phone) {
      text-align: center;
    }
    @include respond(little-phone) {
      text-align: justify;
    }
  }
}
