.header,
.header-404 {
  display: flex;
  position: relative;
  flex-flow: column;
  // grid-gap: 1rem;
  min-height: max-content;
  background-image: linear-gradient(to bottom, #f4e4f0f5 20%, #f4e4f080),
    url(../img/main-image.jpg);
  background-size: cover;
  background-position: top;
}

.header {
  height: calc(var(--vh, 1vh) * 110);
}
.header-404 {
  min-height: max-content !important;
}

.logo-small {
  vertical-align: middle;
  margin-right: 2rem;
}

.poster-container {
  flex: 1;
  position: relative;
  @include respond(little-phone) {
    padding: 1rem;
  }
}

.poster {
  position: relative;
  height: 100%;
  padding: 4rem;
  top: 50%;
  left: 50%;
  max-width: 160rem;
  min-height: 300px;
  transform: translate(-50%, -50%);

  @include respond(tab-port) {
    // transform: translate(-50%) scale(1.2);
    display: none;
  }
}

.poster-404,
.poster-2 {
  opacity: 0.7;
  text-transform: uppercase;
  font-family: 'Oranienbaum', serif;
  text-align: center;
  position: relative;
  line-height: 1.2;
  background: -webkit-linear-gradient(#000, #ba74b7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include respond(tab-port) {
    // transform: translate(-50%) scale(1.2);
    display: block;
  }
  @include respond(small-phone) {
    font-size: 9rem;
  }
  @include respond(little-phone) {
    font-size: 7rem;
  }
}

.poster-2 {
  position: relative;
  padding: 3rem 0;
  font-size: 10rem;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  @include respond(tab-port) {
    display: block;
  }
}
.poster-404 {
  font-size: 12rem;
  margin-bottom: 3rem;
  &__text {
    display: block;
    margin-bottom: 2.5rem;
    text-align: center;
    font-size: 1.8rem;
    color: #000;
    @include respond(small-phone) {
      font-size: 1.6rem;
    }
  }
  @include respond(tab-port) {
    font-size: 10rem;
  }
  @include respond(large-phone) {
    font-size: 8rem;
  }
  @include respond(phone) {
    font-size: 7.5rem;
  }
  @include respond(small-phone) {
    font-size: 7rem;
  }
  @include respond(little-phone) {
    font-size: 5.5rem;
  }
}

.splitter {
  position: relative;
  height: 10vh;
  min-height: 7rem;
  max-height: 10rem;
  img {
    position: relative;
    bottom: -0.25rem;
    left: -0.25rem;
    height: 100%;
    width: 101%;

    @include respond(tab-land) {
      bottom: -0.2rem;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: auto;
    }
  }
  // @include respond(big-desktop) {
  //   min-height: 9rem;
  // }

  // @include respond(tab-land) {
  //   @include h-respond(phone) {
  //     height: 4.5rem;
  //   }
  // }

  // @include respond(desktop) {
  //   @include h-respond(large-phone) {
  //     min-height: 8rem;
  //   }
  // }
}

.navigation {
  display: flex;
  max-width: $vgks-max-width; //100% if screen is smaller than 1200px
  min-width: $vgks-min-width;
  width: 100%;
  padding: 0 2rem;
  margin: 2rem auto 0;
  align-items: center;
  color: rgb(141, 141, 141);

  z-index: 1000;

  @include respond(small-phone) {
    height: 4.2rem;
  }

  &__logo-box {
    width: 100%;
  }

  &__logo-link {
    display: inline-block;
  }

  &__list {
    white-space: nowrap;
    color: $vgks-color-primary-black;
    &--item {
      position: relative;
      display: inline;
      margin-right: 5rem;

      @include respond(tab-port) {
        display: none;
      }

      &:last-of-type {
        @include respond(tab-port) {
          display: inline;
          margin-right: 5rem;
        }
        @include respond(phone) {
          margin-right: 3rem;
        }
        @include respond(small-phone) {
          display: none;
        }
      }

      &__link {
        text-decoration: none;
        color: inherit;

        &:hover {
          padding-bottom: 0.2rem;
          cursor: pointer;
          border-bottom: 2px solid $vgks-color-secondary-darker-pink;
        }
        &:hover + .coming-soon {
          transition: all 0.2s ease-out;
          opacity: 1;
          transform: translateY(25px);
        }
      }
    }
  }
}

.coming-soon {
  @include posAbs;
  width: 124px;
  text-align: center;
  transition: all 0.2s;
  opacity: 0;
  transition-delay: 0.2s;
  transform: translateY(15px);
  font-size: 1.1rem;
  z-index: 10;
}

.work-days {
  text-align: right;
  white-space: nowrap;
  display: inline-block;
  color: #000;

  @include respond(phone) {
    display: none;
  }

  &__hours {
    margin-left: 1.2rem;

    &-open,
    &-closed {
      font-size: 1.9rem;
    }

    &-open {
      color: $neon-green;
      -webkit-animation: neonOpened 1.5s ease-in-out infinite alternate;
      -moz-animation: neonOpened 1.5s ease-in-out infinite alternate;
      animation: neonOpened 1.5s ease-in-out infinite alternate;
    }
    &-closed {
      color: $neon-red;
      -webkit-animation: neonClosed 1.5s ease-in-out infinite alternate;
      -moz-animation: neonClosed 1.5s ease-in-out infinite alternate;
      animation: neonClosed 1.5s ease-in-out infinite alternate;
    }
  }
}

@-webkit-keyframes neonClosed {
  from {
    text-shadow: 0 0 1px $neon-light, 0 0 2px $neon-light, 0 0 3px $neon-light,
      0 0 4px $neon-red-dark, 0 0 7px $neon-red-dark, 0 0 8px $neon-red-dark,
      0 0 10px $neon-red-dark, 0 0 15px $neon-red-dark;
  }
  to {
    text-shadow: 0 0 0.5px $neon-light, 0 0 1px $neon-light,
      0 0 1.5px $neon-light, 0 0 2px $neon-red-dark, 0 0 3.5px $neon-red-dark,
      0 0 4px $neon-red-dark, 0 0 5px $neon-red-dark, 0 0 7.5px $neon-red-dark;
  }
}
@-webkit-keyframes neonOpened {
  from {
    text-shadow: 0 0 1px $neon-light, 0 0 2px $neon-light, 0 0 3px $neon-light,
      0 0 4px $neon-green-dark, 0 0 7px $neon-green-dark,
      0 0 8px $neon-green-dark, 0 0 10px $neon-green-dark,
      0 0 15px $neon-green-dark;
  }
  to {
    text-shadow: 0 0 0.5px $neon-light, 0 0 1px $neon-light,
      0 0 1.5px $neon-light, 0 0 2px $neon-green-dark,
      0 0 3.5px $neon-green-dark, 0 0 4px $neon-green-dark,
      0 0 5px $neon-green-dark, 0 0 7.5px $neon-green-dark;
  }
}
