.popup {
  opacity: 0;
  visibility: hidden;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3000;
  transition: all 0.3s;
  &:target {
    visibility: visible;
    opacity: 1;
  }
  &__content {
    width: 70rem;
    height: auto;
    min-width: 200px;

    display: flex;
    align-items: center;
    opacity: 0;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    border-radius: 5px;
    overflow: hidden;
    transition: all 0.3s 0.2s;

    @include respond(large-phone) {
      width: 75%;
    }

    @include respond(phone) {
      flex-flow: column;
    }
  }

  &:target &__content {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }

  &__link {
    cursor: pointer;
    transition: all 0.1s ease-in-out;
    transform: scale(0.95);
    &:hover {
      transform: scale(1);
    }
  }

  &__element {
    @include posAbs;
    height: 100%;
    width: 100%;
    z-index: 2000;
    clip-path: polygon(100% 84%, 70% 100%, 100% 100%);
    background-image: linear-gradient(
      192deg,
      rgba(224, 144, 255, 0.8) 50%,
      rgba(250, 112, 215, 0.8)
    );
    @include respond(mid-phone) {
      clip-path: polygon(100% 90%, 68% 100%, 100% 100%);
    }
  }

  &__left {
    padding: 5rem 0 5rem 5rem;
    flex: 1;

    h2 {
      padding-right: 2rem;
    }

    @include respond(tab-port) {
      padding: 4.5rem 0 4.5rem 4.5rem;
    }

    @include respond(large-phone) {
      padding: 4rem 0 4rem 4rem;
    }
    @include respond(phone) {
      padding: 3.5rem 3.5rem 2rem;
    }

    @include respond(small-phone) {
      padding: 3rem 3rem 2rem;
    }
  }

  &__img-1 {
    width: 40%;
    height: 100%;

    @include respond(phone) {
      display: none;
    }
  }
  &__img-2 {
    width: 100%;
    height: auto;
    // drop-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
    display: none;
    // padding: 0 3.5rem 3.5rem;
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;

    @include respond(phone) {
      display: block;
    }

    @include respond(small-phone) {
      padding: 0 3rem 3rem;
    }
  }

  &__close {
    &:link,
    &:visited {
      color: $vgks-color-secondary-lighter-grey;
      position: absolute;
      top: 2rem;
      right: 2rem;
      line-height: 1;
      font-size: 4rem;
      text-decoration: none;
      display: inline-block;
      z-index: 9999;
    }
    &:hover {
      color: $vgks-color-primary-purple;
    }
  }
}

.reservation {
  width: 65rem;
  min-width: 200px;
  display: flex;
  position: absolute;
  flex-flow: column;
  align-items: flex-start;
  padding: 5rem;
  gap: 3rem;

  &--heading-2 {
    margin-bottom: 0rem;
    @include respond(little-phone) {
      // font-size: 2.2rem;
    }
  }

  @include respond(large-phone) {
    padding: 4rem;
    @include h-respond(tab-port) {
      gap: 2.5rem;
    }
  }

  @include respond(phone) {
    padding: 3.5rem;
    @include h-respond(tab-port) {
      gap: 2rem;
    }
  }

  @include respond(footer1030) {
    width: 75%;
  }

  @include respond(small-phone) {
    padding: 3rem;
    gap: 2rem;
  }

  &__item {
    display: flex;
    gap: 2rem;
    align-items: center;
  }

  &__icon {
    width: 6rem;
    height: auto;

    @include respond(mid-phone) {
      width: 5rem;
    }
  }

  a {
    color: $vgks-color-primary-purple;
  }
}
