.pricelist {
  &__item {
    height: 50rem;
    max-width: 75rem;
    margin: 0 auto;
    grid-column: 1 / -1;
    width: 80%;
    font-family: 'Times New Roman', Times, serif;
    transition: all 0.3s ease-in-out;

    @include respond(services1100) {
      width: 95%;
    }
    @include respond(tab-port) {
      height: 45rem;
    }
    @include respond(phone) {
      height: 40rem;
    }

    @include respond(mid-phone) {
      height: 40rem;
      grid-row: 2 / 3;
    }
    @include respond(small-phone) {
      // height: 30rem;
    }

    &__price {
    }
    &__description {
      display: flex;
      flex: 1;

      &::after {
        content: '';
        border-bottom: dotted 1px rgba(0, 0, 0, 0.315);
        flex: 1;
        align-self: flex-end;
        margin: 0 0 0 2rem;

        padding: 0 1rem;

        @include respond(services1100) {
          margin: 0 0 0 1.5rem;
        }
        @include respond(phone) {
          margin: 0 0 0 1rem;
        }
        @include respond(small-phone) {
          display: none;
        }
      }
    }
  }
  &__sub-item {
    display: flex;
    margin: 3rem 0;
    align-items: center;
    gap: 2rem;

    @include respond(services1100) {
      gap: 1.5rem;
      margin: 2.5rem 0;
    }

    @include respond(phone) {
      gap: 1rem;
      margin: 2rem 0;
    }
  }
}
