.pricelist {
  &__item {
    max-width: 85rem;
    margin: 0 auto;
    grid-column: 1 / -1;
    width: 80%;
    grid-row: 2;
    display: flex;
    flex-flow: column;
    position: relative;
    font-family: $vgks-font-pricelist;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    @include respond(services1100) {
      width: 95%;
      grid-row: 3;
    }
    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 100%;
      grid-row: 4;
    }

    &__description {
      display: flex;
      flex: 1;

      &::after {
        content: '';
        border-bottom: dotted 1px rgba(0, 0, 0, 0.315);
        flex: 1;
        opacity: 0.5;
        align-self: flex-end;
        margin: 0 0 0 1rem;

        padding: 0 0.5rem;

        @include respond(services1100) {
          margin: 0 0 0 0.5rem;
        }

        @include respond(small-phone) {
          display: none;
        }
      }
    }
    &__details {
      text-align: justify;
      font-style: italic;
      font-size: 1.8rem;

      &-span {
        font-size: 1.4rem;
        display: block;
        text-align: right;
        &:first-of-type {
          margin-top: 2rem;
        }
      }

      .ul-left {
        left: unset;
        transform: unset;
        @include respond(mid-phone) {
          transform: translateX(-50%);
          left: 50%;
          margin-left: 1rem;
        }
      }

      ul {
        position: relative;
        left: 50%;
        display: inline-block;
        transform: translateX(-50%);
        text-align: left;
        text-decoration: none;
        -webkit-columns: 2;
        -m-oz-columns: 2;
        columns: 2;
        padding: 2rem 0;
        list-style-type: '\2714';
        @include respond(phone) {
          columns: 1;
        }
        @include respond(small-phone) {
          list-style-type: none;
        }

        li {
          padding-left: 1rem;
          margin: 0 2rem;
          @include respond(дфкпу-phone) {
            margin: 0 1rem;
          }
          @include respond(mid-phone) {
            margin: unset;
          }
        }
      }
    }
    &--number {
      position: relative;
      margin-right: 0.5rem;
    }
    &--star {
      position: absolute;
      top: 0;
      right: -0.8rem;

      font-size: 1.6rem;
    }
  }
  &__sub-item {
    display: flex;
    margin: 0 0 3rem 0;
    align-items: center;
    gap: 1rem;

    @include respond(services1100) {
      gap: 0.5rem;
      margin: 0 0 2.5rem 0;
    }

    @include respond(phone) {
      margin: 0 0 2rem 0;
    }
    @include respond(small-phone) {
      gap: 2.4rem;
      margin: 0 0 2rem 0;
    }
  }
}

#nails-pricelist {
  @include respond(mid-phone) {
    grid-row: 2 / 3;
  }
}

#massage-pricelist {
  @include respond(mid-phone) {
    grid-row: 4 / 5;
  }
}

#hair-pricelist {
  @include respond(mid-phone) {
    grid-row: 6 / 7;
  }
}
#photo-pricelist {
  @include respond(mid-phone) {
    grid-row: 8 / 9;
  }
}
#course-pricelist {
  @include respond(mid-phone) {
    grid-row: 10 / 11;
  }
}
#other-pricelist {
  @include respond(mid-phone) {
    grid-row: 12 / 13;
  }
}

.photographer {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0 auto;
  &__icon {
    height: 10rem;
    width: auto;
    opacity: 0.3;
    @include respond(mid-phone) {
      height: 8rem;
    }
  }
  &__details {
    // display: none;
    display: flex;
    flex-direction: column;
    &__name {
      text-transform: uppercase;
      font-size: 2.5rem;
      font-family: 'Spartan';
      letter-spacing: 0.2rem;
    }

    &__social {
      &--img {
        height: 2rem;
      }
    }
  }
}
