.services {
  background-color: #fff;
  position: relative;
  padding: 5rem 5rem;
  min-width: 200px;
  z-index: -1;

  @include respond(services1100) {
    padding: 5rem 4rem;
  }
  @include respond(small-phone) {
    padding: 3rem 3rem;
  }

  &__content {
    max-width: 120rem;
    display: grid;
    justify-content: space-around;
    margin: 0 auto;
    gap: 3rem;
    grid-template-columns: repeat(6, minmax(12rem, 1fr));

    @include respond(services1100) {
      gap: 3rem;
      max-width: 60rem;
      grid-template-columns: repeat(3, minmax(15rem, 18rem));
    }

    @include respond(phone) {
      grid-template-columns: repeat(auto-fit, minmax(12rem, 17rem));
      gap: 3rem;
    }

    @include respond(mid-phone) {
      grid-template-columns: repeat(auto-fit, 90%);
    }

    @include respond(mid-phone) {
      grid-template-columns: repeat(auto-fit, 100%);
      gap: 0;
    }
    // justify-content: space-between;
  }

  &__header {
    text-align: center;
  }

  &__item {
    overflow: hidden;
    position: relative;
    // background: red; //test
    height: 35rem;
    padding: 5rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    z-index: 1000;
    @include respond(services1100) {
      padding: 1rem;
      align-items: center;
    }
    @include respond(mid-phone) {
      margin-bottom: 3rem;
    }

    &:hover {
      cursor: pointer;
      -webkit-transition: all 0.2s;
      // transform: translateZ(0) scale(1);
      //box-shadow: inset 0 0 0 10px #e048ff44;
      box-shadow: rgba(15, 0, 43, 0.3) 0px 13px 27px -5px,
        rgba(15, 0, 43, 0.3) 0px 8px 16px -8px;

      @include respond(tab-port) {
        box-shadow: unset;
      }
    }

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      transition: transform 0.8s cubic-bezier(0.34, 0.34, 0.34, 0.85);
      z-index: -1;
    }

    @include respond(services1100) {
      height: 25rem;
    }

    @include respond(phone) {
      height: 17rem;
    }

    @include respond(mid-phone) {
      height: 10rem;
    }
    // width: 18rem;
  }
}

.nails {
  &::after {
    background-image: linear-gradient(170deg, #519fe85b, 50%, #00005254),
      url($img-nails);
    background-position: 80%;
    background-size: 200% auto;

    @include respond(phone) {
      background-size: 100% auto;
    }
  }
}

.hair {
  // grid-column: 4 / 5;
  // grid-row: 1 / 2;

  &::after {
    background-image: linear-gradient(
        170deg,
        rgba(88, 65, 167, 0.4),
        50%,
        rgba(0, 78, 122, 0.4)
      ),
      url($img-hair);
    background-position: 15% top;
    background-size: 190% auto;

    @include respond(phone) {
      background-position: 0% 27%;
      background-size: 100% auto;
    }
  }
}

.other {
  &::after {
    background-image: linear-gradient(
        170deg,
        rgba(182, 99, 174, 0.4),
        50%,
        rgba(76, 67, 204, 0.4)
      ),
      url($img-facial);
    background-position: 60% 50%;
    background-size: auto 100%;
    background-repeat: no-repeat;

    @include respond(phone) {
      // background-position: 33% 55%;
      background-size: 150% auto;
    }
  }
}

.photo {
  &::after {
    background-image: linear-gradient(
        170deg,
        rgba(74, 46, 120, 0.5),
        50%,
        rgba(172, 110, 220, 0.4)
      ),
      url($img-photography);
    // filter: brightness(110%);
    //filter: brightness(92%);
    background-position: 20%;
    background-size: cover;
  }
}

.courses {
  &::after {
    background-image: linear-gradient(
        170deg,
        rgba(138, 185, 255, 0.35),
        50%,
        rgba(224, 45, 111, 0.5)
      ),
      url($img-courses);
    background-position: 56% 32%;
    background-size: 218% auto;

    @include respond(phone) {
      background-position: 33% 55%;
      background-size: 100% auto;
    }
  }
}

.massage {
  &::after {
    background-image: linear-gradient(
        170deg,
        rgba(74, 46, 120, 0.5),
        50%,
        rgba(172, 110, 220, 0.4)
      ),
      url($img-massage);
    // filter: brightness(110%);
    //filter: brightness(92%);
    background-position: 25%;
    background-size: cover;

    @include respond(phone) {
      background-position: 25% 55%;
      background-size: auto 250%;
    }
  }
}

.service-desktop:hover {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  backface-visibility: hidden;
  transform: translateZ(0);
  transform: scale(1.05);
  &::after {
    transform: scale(1.08);
  }
}
.service-mobile-pressed {
  transform: scale(1.05);

  &::after {
    transform: scale(1.08);
  }
}

.service-mobile-released {
  transform: scale(1);

  &::after {
    transform: scale(1);
  }
}
