.wrapper {
  perspective: 500px;
  -webkit-perspective: 500px;
  perspective-origin: right;
  position: absolute;
  top: -1.5rem;
  right: -1.25rem;
  height: 0;
}

.sidebar {
  position: relative;
  display: none;

  margin-right: 3rem;
  z-index: 1005;

  @include respond(tab-port) {
    display: block;
  }

  @include respond(phone) {
    margin-right: 0;
  }

  &__checkbox {
    display: none;
  }

  &__checkbox:checked ~ .wrapper &__nav {
    // opacity: 1;
    transform: rotateY(0);
    visibility: visible;
  }

  &__checkbox:checked + &__button {
    transition: background 0.3s 0.3s;
    background: transparent;
  }

  &__checkbox:checked + &__button &__icon::before {
    width: 2.2rem;
    transform: rotate(45deg);
    background-color: #ffffff;
    top: 0;
  }

  &__checkbox:checked + &__button &__icon::after {
    width: 2.2rem;
    top: 0;
    transform: rotate(-45deg);
    background-color: #ffffff;
  }

  &__button {
    // background-color: $color-secondary;
    position: relative;

    height: 4rem;
    width: 4rem;
    // position: fixed;
    border-radius: 50%;
    z-index: 2000;
    opacity: 0.75;
    text-align: center;
    transition: opacity 0.2s;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }

  &__nav {
    padding: 2.5rem 2.5rem 11rem;
    position: relative;
    background: #202020;
    // border-left: 5px solid #b579ac;
    // width: max-content;
    // position: fixed;
    // top: 6.5rem;
    // right: 2rem;
    border-radius: 0.5rem;
    z-index: 1500;

    transition: all 0.4s cubic-bezier(0.43, -0.01, 0.465, 1);
    // opacity: 0;
    visibility: hidden;
    height: max-content;
    width: max-content;

    overflow: hidden;

    transform: rotateY(-90deg);
    transform-origin: right;
    box-shadow: rgba(15, 0, 43, 0.3) 0px 13px 27px -5px,
      rgba(15, 0, 43, 0.3) 0px 8px 16px -8px;

    // &::after {
    //   content: '';
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   height: 100%;
    //   width: 100%;
    //   z-index: 2000;
    //   // transform: rotate(69deg);polygon(100% 90%, 68% 100%, 100% 100%)
    //   clip-path: polygon(100% 92%, 74% 100%, 100% 100%);
    //   background-image: linear-gradient(
    //     192deg,
    //     rgba(224, 144, 255, 0.8) 50%,
    //     rgba(250, 112, 215, 0.8)
    //   );
    // }
  }

  &__logo {
    height: 5.5rem;
    position: absolute;
    bottom: -0.5rem;
    left: 50%;
    opacity: 0.2;
    transform: translateX(-50%);
    width: auto;
    display: block;
    // opacity: 0.5;
    margin: 4rem auto 1rem;
  }

  &__list {
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    font-size: 1.6rem;
    margin-top: 2rem;
    position: relative;
  }

  &__item {
    margin-right: auto;
    margin-left: auto;
    display: block;
    text-align: center;
    padding: 1rem;
    width: 100%;
    // margin-bottom: 3rem;

    position: relative;

    .coming-soon {
      position: absolute;
      top: 0;
      left: 50%;
      background-color: white;
      padding: 0.6rem 1rem 0.4rem;
      line-height: 1.2;
      border-radius: 0.5rem;
      width: max-content;
      text-align: center;
      color: #000;
      font-weight: 600;
      transition: all 0.25s;
      opacity: 0;
      font-size: 1.5rem;
      transition-delay: 0.25s;
      transform: translateX(-50%) translateY(2rem);
      // font-size: 1.1rem;
      z-index: 10;
    }
    .sidebar__link-go {
      margin-top: 1rem;
      transition: all 0.25s ease-in-out;
      transition-delay: 0.25s;
    }

    &:hover {
      .sidebar__link-go {
        transition: all 0.25s ease-in-out;
        top: -1rem;
        opacity: 0;
        visibility: hidden;
      }
      .coming-soon {
        transition: all 0.25s ease-in-out;
        opacity: 1;
        transform: translateX(-50%) translateY(1rem);
      }
    }
  }

  &__link {
    position: relative;
    opacity: 0.95;
    top: 0;
    color: #fff;
    text-decoration: none;
    &:hover {
      padding-bottom: 0.2rem;
      border-bottom: 2px solid #e7a3ca;
    }
  }

  &__icon {
    position: relative;
    &,
    &::before,
    &::after {
      width: 2.2rem;
      height: 2px;
      // background-color: transparent;
      display: inline-block;
      transition: transform 0.2s;
    }
    &::before,
    &::after {
      content: '';
      position: absolute;
      left: 0;
      background-color: #000;
    }

    &::before {
      top: -1rem;
    }
    &::after {
      top: 0rem;
    }
  }

  &__coming-soon {
    &:hover {
      transform: translateY(-5rem) scaleY(0) !important;
    }
  }
}
