//ECWID
.store-featured {
  .ecwid,
  .ecwid-1 {
    display: none;

    .ec-page-title,
    .ec-footer {
      display: none;
    }
  }
  .store-header {
    z-index: 1200;
  }
}

.store-container {
  background-image: linear-gradient(to bottom, #f4e4f0f5 20%, #f4e4f080),
    url(../img/main-image.jpg);
  background-size: cover;
}

.store {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  //   top: 10rem;
  max-width: 140rem;
  min-width: 200px;
  width: 90%;
  padding: 4rem 10rem 2rem;
  margin-top: 5rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  background-color: white;
  box-shadow: 0 2rem 4rem rgb(0 0 0 / 20%);

  @include respond(tab-land) {
    width: 100%;
    padding: 4.5rem 4.5rem 2rem;
    border-top-left-radius: 4rem;
    border-top-right-radius: 4rem;
  }
  @include respond(tab-port) {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 4.5rem 4rem 1rem;
  }
  @include respond(large-phone) {
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
    padding: 4.5rem 3rem 1rem;
  }
  @include respond(small-phone) {
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 4.5rem 1.5rem 1.5rem;
  }

  &__header {
    position: relative;
    display: flex;
    padding: 0 1rem 2rem;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  &__logo {
    height: 5rem;
    width: auto;
  }
  &__description {
    @include respond(footer1030) {
      display: none;
    }
  }
}
#my-store-69662574 {
  padding-top: 2.5rem;
}

#my-search-69662574 {
  @include respond(tab-port) {
    display: block;
    // margin-bottom: 1.5rem;
    text-align: center;
    position: relative !important;
    right: 50% !important;
    transform: translateX(50%);
    top: 0rem !important;
    padding: 0 1rem;
  }
  @include respond(small-phone) {
    margin-top: 6rem;
  }
}

.to-top-shop {
  span {
    color: white;
  }
  img {
    filter: grayscale(1) brightness(2);
  }

  @include respond(tab-land) {
    span {
      color: black;
    }
    img {
      filter: none;
    }
  }
}

.store-product-img-container {
  border-radius: 1rem;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 100%;
  &:hover {
    .store-product-img {
      transform: scale(1.1);
    }
  }
}
.store-product-img {
  transition: transform 0.15s ease-in;
  display: block;
  width: 100%;
  height: 100%;
}

.store-product-title {
  margin-top: 2rem;
  padding: 0 2rem;
  color: $vgks-color-secondary-dark-grey;
  text-align: center;
}

.featured-product {
  justify-content: flex-start;
  flex-basis: calc(33% - 0.3rem);
  text-align: center;
  padding: 2rem;
  @include respond(tab-land) {
    flex: 1;
    width: 70%;
    padding: 1rem;
  }

  @include respond(phone) {
    justify-content: center;
    flex: 1;
    width: 70%;
    padding: 0rem;
  }
  @include respond(small-phone) {
    flex: 1;
    width: 100%;
  }
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured__products {
  display: flex;
  @include respond(phone) {
    flex-flow: column;
    align-items: center;
  }
  margin-top: 3rem;
  gap: 5rem;
  @include respond(tab-land) {
    gap: 4rem;
  }
  @include respond(large-phone) {
    gap: 3rem;
  }
}
.store-wrap {
  //   background: linear-gradient(0deg, #f3e4ef 0%, #f9f1f7 100%);
  padding-top: 3rem;
  background-image: linear-gradient(to bottom, #f9f1f7 20%, #f4e4f080),
    url(../img/main-image.jpg);
}

.featured__title {
  text-align: center;
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 6rem;
  font-family: 'Oranienbaum';
  text-transform: uppercase;
  opacity: 0.4;
  @include respond(tab-land) {
    font-size: 5rem;
  }
  @include respond(phone) {
    font-size: 4rem;
  }
  @include respond(little-phone) {
    font-size: 2.8rem;
  }
}

.store-redirect {
  display: block;
  text-align: center;
  margin: 5rem auto;
}

.product-brands {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  gap: 4rem;
  opacity: 0.3;
  @include respond(tab-land) {
    gap: 1rem;
  }
  @include respond(phone) {
    flex-flow: column;
    align-items: center;
  }

  &-img-container {
    flex-basis: calc(33% - 0.3rem);
    cursor: pointer;
    display: block;
    text-align: center;
    @include respond(phone) {
      flex: 1;
    }
  }
}
.product-brand {
  width: 100%;
  padding: 2rem;
  max-width: 25rem;
}

.store-descriptions {
  opacity: 0.6;
  font-size: 1.3rem;
  padding-bottom: 3rem;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  @include respond(phone) {
    width: 100%;
  }
}

.store-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.store-header-element {
  flex: 1;
  justify-content: center;
}

.store-header-element:first-child > span {
  margin-right: auto;
}
.store-header-element:last-child > span {
  margin-left: auto;
}
