.hidden {
  display: none;
}

.grey-out {
  filter: grayscale(0.8);
  opacity: 0.6;
}

.pricelist__hidden {
  transition: all 0.3s ease-in-out;
  height: 0 !important;
  overflow: hidden;
  opacity: 0 !important;
  visibility: hidden !important;
  // transform: translateY(-120%);
}
